* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }


  body {
    margin: 0;
    font-family: 'Jost';
    overflow-x: hidden;
    border-top: 6px solid #ffc35a;
  }

  .wrapper {
    max-width: 90%;
    margin: 0 auto;
  }

  h1 {
    font-size: 42px;
    line-height: 56px;
    margin-bottom: 16px;
    color: #1F2933;
    font-family: Recoleta;
    font-weight: 600;
    
}

h2 {
    font-size: 36px; /* or 1.75em */
    line-height: 1.4;
    margin-bottom: 8px;
    color: #1F2933;
    font-family: Recoleta;
    font-weight: 600;
    text-transform: capitalize;
}

h3 {
  font-size: 32px; /* or 1.75em */
  line-height: 1.4;
  margin-bottom: 8px;
  color: #1F2933;
  font-family: Recoleta;
  font-weight: 600;
}

p {
    font-size: 20px;
    line-height: 1.6;
}

img {
    max-width: 100%;
}

iframe {
  max-width: 100%;
}



.features {
    padding: 48px 0;
}

.features.yellow {
    background-color: #fef6e4;
}



ul {
  font-size: 20px;
  line-height: 34px;
  list-style: none;
  padding-left: 0;
  list-style: initial;
  color: #3e4c59;
}







@media only screen and (min-width: 850px) {   


  .wrapper {
    width: 1100px;
  }

  p {
    font-size: 22px;
    line-height: 36px; 
    color: #333;
  }


  h2 {
    font-size: 42px; /* or 1.75em */
    line-height: 52px;
    margin-bottom: 8px;
}


}




/****************** FONTS ******************/


@font-face {
  font-family: Jost;
  src: url("/fonts/Jost-Regular.ttf");
  font-weight: 500;
  font-display: swap
}


@font-face {
  font-family: Jost;
  src: url("/fonts/Jost-Italic.ttf");
  font-style: italic;
  font-display: swap
}



@font-face {
  font-family: Jost;
  src: url("/fonts/Jost-Medium.ttf");
  font-weight: 600;
  font-display: swap
}



@font-face {
  font-family: Jost;
  src: url("/fonts/Jost-SemiBold.ttf");
  font-weight: 700;
  font-display: swap
}

@font-face {
  font-family: Jost;
  src: url("/fonts/Jost-Bold.ttf");
  font-weight: 800;
  font-display: swap
}



@font-face {
  font-family: Recoleta;
  src: url("/fonts/RecoletaAlt-Regular.ttf");
  font-weight: 400;
  font-display: swap
}



@font-face {
  font-family: Recoleta;
  src: url("/fonts/RecoletaAlt-Medium.ttf");
  font-weight: 500;
  font-display: swap
}



@font-face {
  font-family: Recoleta;
  src: url("/fonts/RecoletaAlt-SemiBold.ttf");
  font-weight: 600;
  font-display: swap
}


@font-face {
  font-family: Recoleta;
  src: url("/fonts/RecoletaAlt-Bold.ttf");
  font-weight: 700;
  font-display: swap
}



#article_rectangle {
  position: absolute;
  z-index: -999;
  width: 100%;
}


.product_name {
  color: #616e7c;
  font-size: 14px;
}


.post-content {
  max-width: 90%;
  margin: 32px auto;
}

.post-content ul {
  padding-left: 0;
  list-style: none;
}

.article_category {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #FF773C;
  font-weight: 500;
}

.article h1 {
  text-align: center;
  margin: 24px auto;
  max-width: 850px;
  margin-top: 4px;
}

.article h2 {
  padding-top: 45px;
  border-top: 1px solid #ccd2da;
  margin-top: 48px;
  font-size: 38px;
  text-align: left;
  line-height: 58px;
}


.shadowed {
border: 2px solid #ddd;
display: block;
}


article {
  width: 550px;
  max-width: 90%;
}

article a {
  color: #ff4e17;
  transition: all .2s ease-in-out;
}

article a:hover {
  opacity: .5;
}

@media only screen and (min-width: 1289px) {

  article {
      width: unset;
      max-width: unset;
  }

}


.article ul {
  line-height: 34px;
  list-style: disc;
  font-size: 20px;
  color: #333;
  padding-left: 20px;
}



.article button {
  width: 100%;
  margin: 0;
  width: 100%;
  margin: 0;
  padding: 12px 0px;
  background-color: #08ca5e;
  color: white;
}

.article button a {
  text-decoration: none;
  color: white;
}

.meta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  max-width: 90%;
  margin: 0 auto;
  color: #616e7c;

}

.meta img {
  padding-left: 12px;
  padding-right: 12px;
}


.reddit_source {
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: block;
}







.image_article {
  background-color: #f0f0f0;
  padding: 12px;
  display: flex;
  margin-top: 28px;
}

.image_article img {
  display: inline-block;
}



.single_link {
  border: 1px solid #ccd2da;
  border-radius: 5px;
  padding: 25px;
  grid-gap: 25px;
  position: relative;
  margin: 50px 0;
}

.badge {
  position: absolute;
  top: -18px;
  z-index: 0;
  right: -10px;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .14);
}




@media only screen and (max-width: 650px) {

  .meta {
      flex-direction: column;
  }

  .meta time {
      padding-bottom: 8px;
  }

  .meta img {
      display: none;
  }

  .article h1 {
      max-width: 90%;
  }

  .article h2 {
      font-size: 32px;
      line-height: 39px;
  }

  .post_image {
      margin: 12px auto;
  }


}


.author_link {
  text-decoration: none;
  transition: all .2s ease-in-out;
  color: #616e7c;
}

.author_link:hover {
  opacity: .5;
}

.post_image {
  text-align: center;
  margin: 32px auto;
}

.post_image img {
  object-fit: contain;
}

.article {
  padding-top: 18px;
}


.article p {
  font-size: 20px;
  line-height: 34px;
}


.product_wide_single {
  display: flex;
  flex-direction: column;
  margin: 64px 0;
}


.single_link.blue {
  background-color: #f4f5fa;
}

.single_link.blue li {
  line-height: 30px;
  padding-top: 12px;
}

.single_link.blue img {
  mix-blend-mode: multiply;
}

.single_link.blue a:hover {
  opacity: 1;
}

.single_link_no img {
  height: 146px;
  object-fit: cover;
}

@media only screen and (min-width: 850px) {

  .single_link_img {
      display: flex;
      justify-content: center;
  }


  .single_link.blue {
      grid-template-columns: 40% 1fr;
  }

  .single_link {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
  }


  .product_wide_single {
      margin: 32px 0;
  }

  .design_tip {
      max-width: unset;
      margin-left: -150px;
      border: 1px solid #e0e0e0;
      margin-top: 12px;
      margin-bottom: 12px;
  }

  .article h3 {
      font-size: 28px;
      line-height: 38px;
      text-align: left;
      margin-top: 37px;
  }

  #markdown-toc {
      max-width: 50%;
  }

  #table-of-content {
      text-align: left;
  }

  .post-content {
      width: 700px;
  }

}



@media only screen and (min-width: 700px) {

  .ahref_links {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 28px;
      margin: 48px 0;
  }

}



@media only screen and (min-width: 650px) {   

.product_wide {
display: flex;
justify-content: center;
align-items: center;
}}














/****************** TABLE ******************/


.tablescroll {
  overflow-x: auto;
}

thead, tbody {
  display: table-row-group;
}

thead tr {
  position: static;
}

table {
  border-collapse: collapse;
}

th, td {
  display: table-cell;
  text-align: left;
}

tr {
  display: table-row;
}


thead tr {
  background-color: #ff5722;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #eee;
}

th, td {
  padding: 1rem;
}


caption {
  display: table-caption;
  margin: .5rem auto;
  font-size: 1.5rem;
}

table {
  display: table;
  width: 100%;
  margin: 1rem auto;
  font-size: 18px;
  border: 2px solid black;
}







/****************** CONTACT FORM ******************/

input[type='text'], input[type='password'], input[type='date'], input[type='month'], input[type='week'], input[type='email'], input[type='number'], input[type='search'], input[type='tel'], input[type='time'], input[type='url'], input[type='color'], input[type='datetime'], input[type='datetime-local'], select, textarea {
  width: 100%;
  display: block;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #DFE3E9;
  border-radius: 0;
  outline: none;
  line-height: initial;
  background-color: #fff;
  font-size: 16px;
  font-family: "Jost*",Helvetica,Arial,sans-serif;
  transition: 500ms;
}