---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Hero from '../components/Hero.astro'
import Courses from '../components/Courses.astro'
import '../styles/global.css'
---

<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
		<meta name="generator" content={Astro.generator} />
		<title>KI Beratung Deutschland - KI Flavour</title>
	</head>
	<body>
		<Header/>
		<Hero/>

		<Courses/>

		<div class="wrapper">

		<h2>Python Programmierer</h2>

		<p>Übrigens, es geht nicht nur um die Oberfläche. Als erfahrener Python-Programmierer habe ich auch die technische Tiefe, um in die Kernaspekte von KI-Anwendungen einzutauchen. Das bedeutet, ich kenne mich nicht nur mit den schillernden Endprodukten aus, sondern auch mit dem, was unter der Haube passiert. Machine Learning, Datenanalyse, Algorithmenentwicklung - das sind alles Bereiche, in denen ich mich wohlfühle. Wenn du also jemanden suchst, der sowohl das Große Ganze als auch die feinen Details versteht, bin ich definitiv dein Mann!</p>

		</div>

	



		
	<Footer/>
	</body>
</html>



