---
import Button from '../components/Button.astro'
---

<section id="features">



    <div class="wrapper">

      <svg id="path_2" xmlns="http://www.w3.org/2000/svg" width="363.552" height="376.373" viewBox="0 0 363.552 376.373">
        <path id="Path_12" data-name="Path 12" d="M181.776-93.5C363.456-98.82,363.552-1.33,363.552,68.481s-57.823,151.1-174.481,200.452c-64.42,19.112-86.9,21-133.673-11.938C5.994,215.678,0,111.484,0,68.481,0-1.33.1-88.179,181.776-93.5Z" transform="translate(0 93.708)" fill="#fef7f2"></path>
     </svg>
    
  
        <div class="feature">

          <div class="feature_wrapper">


            <div class="feature_img">
              <img src="/images/ki-beratung-deutschland.webp" alt="ki beratung deutschland">
            </div>
  


          <div class="feature_details">

            <h2>🌟 KI Beratung</h2>
  
            <p>Aufgepasst, digitale Welt! Ich bin derjenige, der sich auf etwas ziemlich Cooles spezialisiert hat: KI-Beratung! Ja, du hast richtig gelesen. Ich bin nicht nur irgendein Berater, sondern einer, der sich mit den neuesten und besten KI-Technologien auskennt. Ob du nun nach etwas suchst, um fesselnde Texte zu erstellen (Hallo, ChatGPT!) oder beeindruckende Bilder aus dem Nichts zu zaubern, ich habe den Dreh raus.</p>

            <p>Es scheint, als wäre heutzutage alles "KI-hier" und "KI-da". Aber ich gehe über das übliche Buzzword-Hopping hinaus. Ich verstehe, wie man KI in jedes Geschäft integriert, sodass es nicht nur ein weiteres glänzendes Werkzeug in der Toolbox ist, sondern ein echter Game-Changer.</p>
        
            <p>Stell dir vor, du könntest einen Blogpost in Sekundenschnelle schreiben lassen oder ein Bild kreieren, das genau das darstellt, was du im Kopf hast. Das Beste daran? Es ist keine Zauberei, sondern Technologie. Mit meiner Expertise in KI-Beratung kann ich Unternehmen dabei helfen, genau das zu erreichen.</p>
        
            <p>Aber warte, da ist noch mehr! Ich berate nicht nur in Sachen Text und Bilder. Ich tauche tief in alle möglichen KI-Anwendungen ein, sei es zur Automatisierung von Prozessen, zur Analyse großer Datenmengen oder sogar zur Vorhersage von Trends. Kurz gesagt, wenn du darüber nachdenkst, wie KI deinem Unternehmen helfen kann, bin ich dein Go-to-Guy.</p>
        
            <p>Also, wenn du bereit bist, in die faszinierende Welt der Künstlichen Intelligenz einzutauchen und dein Geschäft auf das nächste Level zu heben, weißt du jetzt, an wen du dich wenden sollst: An mich!</p>

          
          </div><!---feature details -->


        </div><!---feature wrapper -->


        


    
    
  </section>





       

  




  

<style>

#Star {
  padding-bottom: 8px;
  display: none;
}


#review_rating {
    transform: rotate(61deg);
    position: absolute;
    right: -11px;
    top: 27px;
    width: 116px;
}


.feature {
  margin: 48px auto;

}

.wrapper {
  position: relative;;
}


.feature_img {
  margin-top: 24px;
  background-color: #2d2e31;
  padding: 12px;
  border-radius: 5px;
  height: 550px;

}

.feature_img img {
    border-radius: 5px;
  }


.feature_icon_row {
  display: flex;
  align-items: center;
}


.review {
  width: 350px;
  padding: 8px 8px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  margin: 32px 0;
  border: 2px solid #d8dee9;
  border-radius:5px;
}


.reviews {
  margin: 48px 0;
  position: relative
}

#path_2 {
    position: absolute;
    left: -139px;
    z-index: -9;
    top: -90px;
  }




@media only screen and (min-width: 850px) {   

  #review_rating {
  transform: rotate(10deg);
    position: absolute;
    left: -148px;
    top: -19px;
    width: 200px;
}





.reviews {
  margin-top: 46px;
  text-align: right;
}

.feature_img {
  margin-top: 0px;
}

.review_wrapper {
  display: flex;
  gap: 24px;
  
}

h3 {
  margin-top: 0;
}


  .feature {
    margin: 120px auto;
  }


  .feature_wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 64px;
  }

  h2 {
    margin-top: 0px;
  }

}

</style>