---
import Button from '../components/Button.astro'
const Keyword = "KI Beratung Deutschland"
---

<section class="hero">

    <svg id="path_1" xmlns="http://www.w3.org/2000/svg" width="363.552" height="376.373" viewBox="0 0 363.552 376.373">
        <path id="Path_12" data-name="Path 12" d="M181.776-93.5C363.456-98.82,363.552-1.33,363.552,68.481s-57.823,151.1-174.481,200.452c-64.42,19.112-86.9,21-133.673-11.938C5.994,215.678,0,111.484,0,68.481,0-1.33.1-88.179,181.776-93.5Z" transform="translate(0 93.708)" fill="#fef7f2"></path>
     </svg>



    <div class="wrapper">


        <div class="hero_image">
            <img src="/images/ki-beratung-deutschland.svg" alt={Keyword}" width="300px">
        </div>




    <div class="hero_text">
        <h1>🤖 KI Beratung & Support <span>Deutschland</span></h1>
            <p>KI verändert bereits die Welt. Möchten Sie KI Anwendungen in ihr Unternehmen integrieren oder interessieren sich für die neusten KI Themen, dann sind sie hier richtig. Ob Chat GPT oder Stable Diffusion, wir helfen Ihnen weiter.</p>
            <a href="#contact">
            <Button bgColor="red"  buttontext="Kontaktiere Uns"/>
            </a>
    </div>

    



</div>
</section>

<style>
    .hero {
        padding: 48px 0;
        margin-bottom: 100px;
        position: relative;
        overflow: hidden;
    }


    span {
        color: #f5be51;
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    p {
        max-width: 90%;
    }

    .hero_image {
        margin-top: 48px;
    }


    #path_1 {
    position: absolute;
    z-index: -1;
    right: -100px;
    width: 250px;
    top: 50px;
}


    @media only screen and (min-width: 850px) {  



    .hero {
        padding: 64px 0;
    }

    .hero .wrapper {
        width: 1140px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 60% 40%;

    }

 

    .hero_image  {
        text-align: center;
        margin-top: 0;
        order: 1;
    }



    .hero h1 {
        font-size: 68px;
        line-height: 76px;
    }

    p {
        margin-top: 12px;
        max-width: 70%;
        margin-bottom: 48px;
    }

    }
</style>